* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  display: block;
  text-align: center;
  margin: 50px 0;
  font-size: 50px;
  
}
.choice {
  height: 165px;
  width: 165px;
}
img {
    height: 165px;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
   
  }

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 34px;
  
}
.score-board,
.msg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 34px;
}
img:hover {
  opacity: 0.8;
  transition: 0.3s ease-in-out;
}
.score-board{
 display: flex;
 gap: 34px;
 text-align: center;
 padding: 34px;

}